@import "~antd/dist/antd.css";

.ant-layout.ant-layout-has-sider {
  height: 100vh;
}

.ant-layout-sider,
.ant-layout-sider .ant-menu,
.ant-layout-sider-zero-width-trigger,
.ant-layout-sider-zero-width-trigger:hover,
.ant-menu-inline .ant-menu-item::after {
  background: #4f03a4;
}
